
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: normal;
  
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.b-title{
    font-size: 65px;
    color: rgba(37, 36, 50, 1);
}
/* body */
 .head-father{
    max-width: 1440px;
    max-height: 698px;
    margin: auto auto;
 }
/* header
Nav section */
nav li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgba(78, 71, 255, 1);
}
nav ul {
    display: flex;
    justify-content: space-between;
    margin-left: 150px ;
    margin-right: 150px;
    align-items: center;
}
nav .logo{
    font-size: 34px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-section{
    text-align: center;
    padding: 200px 267px 152px 267px;
}
.stay-focused{
    margin-top: 5px;
}
.head-father{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
}
/* shared item */

    .btn{
    background-color: rgba(78, 71, 255, 1);
    color:rgba(255, 255, 255, 1);
    font-weight:bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    }
    /* --o-- */
    
    /* body */
    main{
        max-width: 1140px;
        margin: 0 auto;
    }
    .action{
        display: flex;
        /* text-align: center; */
        gap:220px;
        /* justify-content: space-between; */
    }
    .action img{
        width: 403px;
        height: 328px;
        border-radius: 48px;
    }
    .action-container{
        /* justify-content: center; */
    }
    .action-title{
        font-weight: bold;
        font-size: 42px;
        color: rgba(37, 36, 50, 1);
        width: 517px;
        height: 49px;
        
    }
    .action-sub-title{
        font-size: 24px;
        color: rgba(37, 36, 50, 0.5);
        font-weight: normal;
        margin-top: 23px;
        margin-bottom: 23px;
    }
    /* user , and another <section>   */
    .users{
        background-color: rgba(78, 71, 255, 0.1);
        /* height: 306px; */
        border-radius: 24px;
        border:none;
    }
    .user-title {
        /* text-align: center; */
        font-weight: bold;
        font-size: 38px;
        color:rgba(37, 36, 50, 1);
       

       
    }
    .user-number{
        font-weight: bold;
        font-size: 80px;
        color: rgba(78, 71, 255, 1);
        width: 162px;
        height: 97px;
        margin-bottom: 0;
        margin-top: 0;
        /* margin-top: 40px; */
        
    }
    .user-sub-title{
        font-weight: normal;
        font-size: 20px;
        
    }
    .user-grid{
        display:flex;
        /* text-align: center; */
        gap:167px;
        /* margin-left: 300px; */
        
        
    }
    .user-container{
        justify-items: center;
        padding: 50px 142px;
        
       
    }
    /* feedback portion with another <section> */
    .feedback-container{
        display: flex;
        gap: 20px;
        padding-top:50px ;
          padding-bottom:50px ;
        
    }
    .feed-border{
        border: none;
        padding: 24px;
        border-radius: 14px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow:10px 10px 10px 0 silver ;
    }
    .feedback-title{
        font-weight: bold;
        font-size: 42px;
        color: rgba(37, 36, 50, 1);
        text-align: center;
    }
    .feedback-sub-header{
        color: rgba(30, 30, 30, 1);
    }
    .feedback-item .img1{
         width: 100px;
         height: 15px;

    }
    .feedback-item2{
        display:flex;
        align-items: center;
        gap: 10px;
    }
    .feedback-item2 img{
        border-radius: 50%;
    }
    .feedback-reviewer{
          margin-bottom: 2px;
          color: rgba(117, 117, 117, 1);
    }
    .f-date{
        margin-top: 2px;
        color: rgba(179, 179, 179, 1);
    }
    /* Button section another <section> page */
    .page{
display: flex;
justify-content: center;
align-items: center;
height: 100vh; 
}
.button:hover{
    background-color: yellow;
}
/* form section using another <section> tag */
.forms{
    display:flex;
    background-color: rgba(214, 221, 237, 0.479);
    /* padding: 80px; */
}
.form-title{
    font-weight: bold;
    font-size: 97px;
    color: rgba(0, 0, 0, 1);
    margin-top: 200px ;
    margin-bottom: 200px;
   
}
form input, textarea {
    padding-top: 14px;
    padding-bottom: 14px ;
    padding-left: 14px ;
    font-weight: bold;
    margin-bottom: 2px ;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: -18px;
    
 }
 .form-section{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 100px;
     padding-left: 115px;
 }
 .f-button{
    width: 415px;
    margin-top: 10px;
 }


    

